*.class
*.log

#
# Are you tempted to edit this file?
#
# First consider if the changes make sense for all,
# or if they are specific to your workflow/system.
# If it is the latter, you can augment this list with
# entries in .git/info/excludes
#
# see also test/files/.gitignore
#

#
# JARs aren't checked in, they are fetched by sbt
#
/lib/*.jar
/test/files/codelib/*.jar
/test/files/lib/*.jar
/test/files/speclib/instrumented.jar
/tools/*.jar

# Developer specific properties
/build.properties
/buildcharacter.properties

# might get generated when testing Jenkins scripts locally
/jenkins.properties

# target directory for build
/build/

# other
/out/
/bin/
/sandbox/

# intellij
/src/intellij*/*.iml
/src/intellij*/*.ipr
/src/intellij*/*.iws
**/.cache
/.idea
/.settings

# vscode
/.vscode

# Standard symbolic link to build/quick/bin
/qbin

# sbt's target directories
/target/
/project/**/target/
/test/macro-annot/target/
/test/files/target/
/test/target/
/build-sbt/
local.sbt
jitwatch.out

/deployment/target/

# Used by the restarr/restarrFull commands as target directories
/build-restarr/
/target-restarr/

# metals
.metals
.bloop
project/**/metals.sbt


.gradle
.bloop
beakerx
*.dump
/build/
*/build/
build/
.idea
out/
*.ipr
*.iml
*.iws
.env
.DS_Store
*.hprof
.metals/
project/metals.sbt
codegen/clib/.scalafmt.conf

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea/
codegen_test/*
*/.idea/
modules/app/public/dist/*
modules/app/public/dist/index.html
modules/app/public/dist/asset-manifest.json
.metals
.classpath
.settings/
.cache-main
.cache-tests
.project
*/project/
*/bin/
*/target/
*/logs
*/.terraform



target/
web/node_modules/*
web/nvm/**/*
/node_modules/*
app/*
codegen/codegen.iml
initialize/initialize.ml
kub/nginx/
metagraph/public/ace-editor/demo/kitchen-sink/kitchen-sink.iml
metagraph/public/ace-editor/demo/kitchen-sink/kitchen-sink2.iml
sdlcommon/src/main/main.iml
initialize/initialize.iml
*.tgz
web/dist/*
*/.terraform/*/terraform-provider*
kub/terraform-kops/out/terraform/.terraform/plugins/darwin_amd64/terraform-provider-aws*
.terraform
kub/terraform-kops/out/terraform/terraform.tfstate.backup
*.pyc
/bin/
.ensime
ensime.sbt
.ensime_cache/
kub/deploy_management/login.sh
kub/deploy_management/login.sh-e
codegen/app-2.11/
codegen/test-2.11/
kub/sbt-image/dummyProj/spark-warehouse/
sdlcommon/src/main/java/
sdlcommon/src/main/scala-2.11/
sdlcommon/src/test/
spark-warehouse/
pc.stdout.log
ensime-langserver.log
.metaserver/
*.log
*.retry
kub/deploy_management_dev2/login.sh
kub/deploy_management_dev2/login.sh-e
kub/deploy_management_recvue/login.sh
kub/deploy_management_recvue/login.sh-e
kub/spark_pod/jupyter-notebook/spark-notebook/notebook.zip
kub/spark_pod/jupyter-notebook/spark-notebook/toree.tar.gz
kub/spark_pod/jupyter-notebook/spark-notebook/toree.tgz
kub/py3


docs/public/*
/.ideaDataSources/*
/dataSources/*

metastore_db/*
*~
*.swp
*.swo
docs/resources/_gen/images/
x/lvars.sh

x/lvars.sh.maciej
modules/common/core/src/test/resources/project1/
.scannerwork/*

nohup.out
.bsp

.vscode
