@()

<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index(Option("Default value from Common"))#Introduction">Welcome</a>
</ul>
<h3>Related Resources</h3>
<ul>
  <li><a href="https://discuss.lightbend.com/c/play/" target="_blank">Forum</a></li>
  <li><a href="//gitter.im/playframework/playframework" target="_blank">Gitter Channel</a></li>
  <li><a href="//stackoverflow.com/questions/tagged/playframework" target="_blank">Stackoverflow</a></li>
  <li><a href="//lightbend.com/how" target="_blank">Professional support</a></li>
</ul>
